@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    color: #252525;
    font-family: "Inter", sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-contacts {
    width: 80%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;
    gap: 60px;
    margin-bottom: 100px;
}

.left-contact {
    width: 45%;
    height: 425px;
    background-color: #b5bdbb;
    z-index: 1;
    margin-right: -400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-line {
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: capitalize;
    padding: 30px 50px;
    color: #fff;
}

.icon,
.icon2,
.icon3 {
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 30px 0 0 70px;
}

.icon {
    padding-top: 30px;
}

.location {
    font-size: 24px;
    letter-spacing: 2.4px;
    color: #fff;
}

.right-contact {
    height: 800px;
    background-color: #e8ded2;
    display: flex;
    justify-content: flex-end;
    width: 89%;
}

.right2 {
    width: 67%;
    height: 800px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.get-in-touch {
    font-size: 54px;
    letter-spacing: 5.4px;
    padding-top: 80px;
    font-weight: 600;
    margin-left: 160px;
}

form {
    width: 100%;
}

label {
    display: block;
    margin: 0 0 10px 60px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 1.6px;
}

label:first-child {
    margin-top: 50px;
}

input,
textarea {
    margin: 0 60px;
}

form input[type="text"],
form input[type="email"] {
    width: 73%;
    padding: 10px 20px;
    margin-bottom: 36px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.6px;
    height: 40px;
}

form textarea {
    width: 73%;
    padding: 8px 12px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1.6px;
    height: 175px;
}

button {
    width: 50%;
    height: 85px;
    font-size: 40px;
    letter-spacing: 4px;
    color: #fff;
    background-color: #b5bdbb;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin: 35px 0 0 145px;
}

@media (max-width: 1250px) {
    .left-contact {
        margin-right: -340px;
    }

    .first-line {
        font-size: 32px;
        letter-spacing: 3.2px;
    }

    .location {
        font-size: 16px;
        letter-spacing: 1.6px;
    }

    .get-in-touch {
        font-size: 46px;
        letter-spacing: 4.6px;
        margin-left: 100px;
    }

    button {
        margin: 35px 0 0 125px;
    }
}

@media (max-width: 1000px) {
    .main-contacts {
        width: 80%;
        height: 1300px;
        flex-direction: column-reverse;
        background-color: #e8ded2;
    }

    .left-contact {
        width: 100%;
        height: 300px;
        box-shadow: none;
        margin-right: 0;
    }

    .first-line {
        font-size: 32px;
        letter-spacing: 3.2px;
        padding: 30px 0 0 55px;
    }

    .icon,
    .icon2,
    .icon3 {
        padding: 30px 0 0 55px;
    }

    .icon {
        padding-top: 20px;
    }

    .location {
        font-size: 24px;
        letter-spacing: 2.4px;
    }

    .right-contact {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .right2 {
        width: 100%;
        height: 800px;
    }

    .get-in-touch {
        font-size: 40px;
        letter-spacing: 4px;
        text-align: center;
        margin: 0;
    }

    label:first-child {
        margin-top: 35px;
    }

    form input[type="text"],
    form input[type="email"] {
        width: 80%;
        border-radius: 5px;
        height: 30px;
        margin-bottom: 15px;
    }

    form textarea {
        width: 80%;
    }

    button {
        margin: 35px 0 0 160px;
    }
}

@media (max-width: 700px) {
    .main-contacts {
        height: 1000px;
    }

    .first-line {
        font-size: 32px;
        letter-spacing: 3.2px;
        padding: 30px 0 0 55px;
    }

    .icon,
    .icon2,
    .icon3 {
        padding: 30px 0 0 55px;
    }

    .icon {
        padding-top: 20px;
    }

    .location {
        font-size: 24px;
        letter-spacing: 2.4px;
    }

    .right-contact {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 500px;
    }

    .right2 {
        width: 100%;
        height: 800px;  
    }

    .get-in-touch {
        padding-top: 20px;
        font-size: 24px;
        letter-spacing: 2.4px;
        text-align: center;
        margin-left: 0;
    }

    label {
        font-size: 12px;
    }

    form input[type="text"],
    form input[type="email"] {
        width: 80%;
        border-radius: 5px;
        font-size: 12px;
    }

    form textarea {
        width: 80%;
        font-size: 12px;
    }

    button {
        margin: 35px 0 0 160px;
        height: 40px;
        font-size: 18px;
        width: 35%;
    }
}

@media (max-width: 600px) {

    .first-line {
        font-size: 32px;
        letter-spacing: 3.2px;
        padding: 30px 0 0 55px;
    }

    .icon,
    .icon2,
    .icon3 {
        padding: 30px 0 0 60px;
        gap: 10px;
    }

    .icon {
        padding-top: 20px;
    }

    .location {
        font-size: 12px;
        letter-spacing: 1.2px;
    }

    .right-contact {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 500px;
    }

    .right2 {
        width: 100%;
        height: 500px;
    }

    .get-in-touch {
        padding-top: 20px;
        font-size: 24px;
        letter-spacing: 2.4px;
        text-align: center;
        margin-left: 0;
    }

    label {
        font-size: 12px;
        margin-left: 10px;
        margin-right: 0;
    }

    form input[type="text"],
    form input[type="email"] {
        width: 90%;
        margin-right: 0;
        border-radius: 5px;
        font-size: 12px;
        margin-left: 10px;
    }

    form textarea {

        margin-right: 0;
        margin-left: 10px;
        width: 90%;
        font-size: 12px;
    }

    button {
        margin: 35px 0 0 110px;
        height: 40px;
        font-size: 18px;
        width: 35%;
    }
}